#quantity {
    width: 3em;
}

#newcategory {
    display: none;
}

#newlocation {
    display: none;
}

body {
    padding: 10px;
    background: lightgrey;
}

#main-div {
    padding: 25px;
    background: lightskyblue;
    border-radius: 10px;
}

#top-div {
    padding: 0px 0px 15px 0px;
}

button {
    color: orange;
    font-family: Garamond;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 18px;
    width: 5em;
    padding: 5px;
    border-radius: 20px;
}

input, textarea {
    padding: 7px;
    border-radius: 20px;
}

select {
    padding: 5px;
    border-radius: 20px;
}

h1 {
    padding: 10px 10px 10px 20px;
}

html {
    font-family: Verdana;
}

#eng {
    display: none;
}